a {
    text-decoration: none;
    color: #000;
}
button {
    background: none;
    border: none;
    outline: none;
}
.main_reg_entr {
    width: 1920px;
    height: 1080px;
    background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.r_e_logo {
    width: 156px;
    height: 37px;
    background: url(../img/logo.png) no-repeat;
    margin-right: 215px;
}
.block_entrance {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 502px;
    height: 473px;
}
.block_registration {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 503px;
    height: 566px;
}  
.b_e_pad {
    padding-left: 52px;
    padding-right: 59px;
    height: 87%;
}
.b-h2 {
    font-size: 36px;
    font-family: "Adobe Clean Bold";
    color: rgb(50, 50, 50);
    font-weight: bold;
    text-align: left;
    margin-top: 64px;
    margin-bottom: 32px;
}
.b-h4 {
    font-size: 16px;
    font-family: "Adobe Clean Regular";
    color: rgb(80, 80, 80);
    text-align: left;
    margin-bottom: 47px;
}  
 .color-link {
     color: #1473e6;
     cursor: pointer;
 } 

 /*Стилизация Инпутов*/

 .MuiFormControl-root.MuiTextField-root {
    width: 100%;
}
.inpt-style {
    margin-bottom: 25px;
}
input#standard-required  {
    font-size: 15px;
}
.button-entr {
    border-radius: 4px;
    background-color: rgb(255, 198, 23);
    width: 161px;
    height: 51px;
    font-family: "Adobe Clean Regular";
    font-size: 21px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;;
    cursor: pointer;
    margin-bottom: 7%;
}
.login_submit {
    margin-top: auto;
}
.login_form {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-entr:hover, .btn-profile:hover {
    background-color: rgb(238, 182, 12);
}  
.button-reg {
    border-radius: 4px;
    background-color: rgb(255, 198, 23);
    width: 248px;
    height: 51px;
    font-family: "Adobe Clean Regular";
    font-size: 21px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: auto;
    cursor: pointer;
}
.button-reg:hover {
    background-color: rgb(238, 182, 12);
}
.style-bb {
    width: 185px;
    margin-right: 15px;
}
.style-kk {
    width: 185px;
}
.grid-box {
    display: flex;
}
.main_map {
    width: 1920px;
    height: 1080px;
    background: url(../img/map.png) no-repeat;
}
.map_nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3.6px 0.4px rgba(0, 0, 0, 0.11);
    width: 1920px;
    height: 80px;
    display: flex;
    align-items: center;
}
.nav_logo {
    width: 154px;
    height: 37px;
    background: url(../img/logo2.png) no-repeat;
    margin-left: 374px;
}
.nav_list {
    display: flex;
    margin-left: auto;
    margin-right: 357px;
}
.style_list_nav {
    border-radius: 2px;
    width: 75px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
}
.style_list_nav:hover {
    background-color: rgb(242, 242, 242);
}
.card_plashka {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 945px;
    height: 567px;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
.h1_pl {
    font-family: "Adobe Clean Bold";
    color: rgb(50, 50, 50);
    font-size: 36px;
    margin-top: 63px;
}
.h4_pl {
    font-size: 16px;
    font-family: "Adobe Clean Regular";
    color: rgb(80, 80, 80);
    margin-top: 10px;
}
.card_box {
    display: flex;
    flex-direction: row;
}
.card {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
    width: 382px;
    height: 230px;
    margin-top: 49px;    
}
.card:first-child {
    margin-right: 31px;
}
.logo_card {
    width: 55px;
    height: 36px;
    background: url(../img/master-cart.png);
    margin-left: auto;
    margin-right: 17px;
    margin-top: 18px;
}
.box_cart_otsp {
    padding-left: 31px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}
.num_cart{
    font-size: 15px;
    font-family: "Adobe Clean Regular";
    color: rgb(116, 116, 116);
    /* margin-bottom: 10px; */
    margin-bottom: 1px;
    margin-top: 10px;
}
.last_cart_info{
    /* margin-top: 34px;
    display: flex;
    flex-direction: column;
    width: 115px; */
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    width: 140px;
}
.last_card {
    padding-top: 59px;
    padding-left: 31px;
    padding-right: 30px;
}
.btn-profile {
    border-radius: 4px;
    background-color: rgb(255, 198, 23);
    width: 195px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    font-size: 21px;
    font-family: "Adobe Clean Regular";
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.account_section {
    height: 1080px;
}
/*MAP*/
.map-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.canvas.mapboxgl-canvas {
    height: 100vh !important;
}
/* .map-wrapper {
    position: relative;
    width: 1920px;
    height: 1080px;
} */

.taxi_box {
    position: absolute;
    top: 25px;
    left: 20px;
    max-width: 30%;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.taxi_pad {
    padding: 44px 60px;
}
.start_taxi {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 16px;
}
.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}
.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}
.jss405 {
    margin-bottom: 30px !important;
}
.MuiTypography-alignLeft {
    text-align: left;
}
.MuiTypography-h4 {
    font-size: 2.125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.00735em;
}
.MuiTypography-root {
    margin: 0;
}
.jss406 {
    margin-bottom: 22px !important;
}
.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.button_taxi {
    width: 100%;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    background-color: #ffc617;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_taxi:hover {
    background: #d0a215;
}
.search_adress {
    height: 36px;
    display: flex;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.search_adress_input{
    border: none;
    width: 89%;
    outline:none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    padding-right: 8px;
    cursor: pointer;
}
.text_span_tax {
    left: 2px;
    bottom: 6px;
    position: absolute;
    font-size: 16px;
}
.bottom_arrow {
    background: url(../img/down-arrow.svg) no-repeat;
    width: 14px;
    height: 14px;
}
.box_for_button {
    width: 9%;
    height: 56%;
    border-left: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otsp_40px {
    width: 100%;
    height: 40px;
}
.box_btn_taxxxi {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}
.btn_taxi_yellow {
    background-color: #ffc617;
    cursor: pointer;
}
.btn_taxi_grey {
    background-color: #929292;
}
.slk_ll {
    height: 73% !important;
}
.drop_down_spisok {
    position: absolute;
    width: 79%;
    max-height: 31%;
    overflow: auto;
    background: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    top: 85px;
}
.drop_down_spisok ul{
    margin-left: 0;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.drop_down_spisok ul li {
    list-style-type: none;
    cursor: pointer;
}
.drop_down_spisok ul li:hover {
    background: #e5e5e591;
}
.style_spisok_2 {   
    top: 57%;
}
.btn_taxi_yellow:hover {
    background: #d0a215;
}
.del_value {
    background: url(../img/close.svg) no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 11px;
    cursor: pointer;
}
.heigh_taxi_oder {
    height: 42px !important;
}