a {
    text-decoration: none;
    color: #000;
}
button {
    background: none;
    border: none;
    outline: none;
}
.main_entrence {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fon.png);
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.main_reg_entr {
    width: 100%;
    height: 91.5vh;
    background-image: url(../img/fon.png);
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.r_e_logo {
    width: 8.125%;
    height: 3.42%;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;;
    margin-right: 11.197%;
}
.block_entrance {
    border-radius: 0.156vw ;
    background-color: rgb(255, 255, 255);
    /* width: 27.083vw;
    height: 43.796%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.block_registration {
    border-radius: 0.156vw ;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
}  
.b_e_pad {
    min-width: 24.083vw;
    padding: 2.753vw;
    min-height: 43.796%;
}
.reg_b_e_pad {
    min-width: 20.083vw;
    padding: 3.753vw;
    min-height: 43.796%;
}
.b-h2 {
    font-size: 1.875vw;
    font-family: "Adobe Clean Bold";
    color: rgb(50, 50, 50);
    font-weight: bold;
    text-align: left;
    margin-bottom: 9.4%;
}
.b-h4 {
    font-size: 0.833vw;
    font-family: "Adobe Clean Regular";
    color: rgb(80, 80, 80);
    text-align: left;
    margin-bottom: 1.038vw;
}  
 .color-link {
     color: #1473e6;
     cursor: pointer;
 } 

 /*Стилизация Инпутов*/

 .MuiFormControl-root.MuiTextField-root {
    width: 100%;
}
.inpt-style {
    margin-bottom: 1.039vw;
}
input#standard-required  {
    font-size: 0.781vw;
}
input#standard-required::placeholder {
    font-size: 0.781vw;
}
.button-entr {
    border-radius: 0.253vw;
    background-color: rgb(255, 198, 23);
    width: 100%;
    height: 100%;
    font-family: "Adobe Clean Regular";
    font-size: 1.094vw;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;;
    cursor: pointer;
}
.login_submit {
    margin-top: auto;
    width: 41%;
    height: 20.4%;
    padding: 0;
}
.reg_submit {
    margin-top: auto;
    width: 54%;
    height: 13.4%;
    padding: 0;
}
label + .MuiInput-formControl {
    margin-top: 1vw;
}
label#standard-required-label {
    font-size: 0.981vw;
}
.login_form {
    height: 11vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reg_form {
    height: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-entr:hover, .btn-profile:hover {
    background-color: rgb(238, 182, 12);
}  
.button-reg {
    border-radius: 0.253vw;
    background-color: rgb(255, 198, 23);
    width: 100%;
    height: 100%;
    font-family: "Adobe Clean Regular";
    font-size: 1.094vw;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button-reg:hover {
    background-color: rgb(238, 182, 12);
}
.style-bb {
    width: 185px;
    margin-right: 15px;
}
.style-kk {
    width: 185px;
}
.grid-box {
    display: flex;
}
.main_map {
    width: 100vw;
    height: 48.25vw;
    /* background: url(../img/map.png) no-repeat; */
}
.mapboxgl-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }
.map_nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3.6px 0.4px rgba(0, 0, 0, 0.11);
    width: 100vw;
    height: 4.167vw;
    display: flex;
    align-items: center;
}
.nav_logo {
    width: 9.021vw;
    height: 1.927vw;
    background: url(../img/logo2.png) no-repeat;
    margin-left: 19.479vw;
    background-size: cover;
}
.nav_list {
    display: flex;
    margin-left: auto;
    margin-right: 18.594vw;
}
.style_list_nav {
    border-radius: 0.104vw;
    width: 5.906vw;
    height: 1.719vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.260vw;
    cursor: pointer;
}
.style_list_nav:hover {
    background-color: rgb(242, 242, 242);
}
.card_plashka {
    border-radius: 0.156vw;
    background-color: rgb(255, 255, 255);
    width: 49.219vw;
    height: 29.531vw;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
.h1_pl {
    font-family: "Adobe Clean Bold";
    color: rgb(50, 50, 50);
    font-size: 1.875vw;
    margin-top: 3.281vw;
}
.h4_pl {
    font-size: 0.833vw;
    font-family: "Adobe Clean Regular";
    color: rgb(80, 80, 80);
    margin-top: 0.521vw;
}
.card_box {
    display: flex;
    flex-direction: row;
}
.card {
    border-radius: 0.521vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
    width: 19.896vw;
    height: 11.979vw;
    margin-top: 2.552vw;    
}
.card:first-child {
    margin-right: 1.615vw;
}
.logo_card {
    width: 2.865vw;
    height: 1.875vw;
    background: url(../img/master-cart.png) no-repeat;
    margin-left: auto;
    margin-right: 0.885vw;
    margin-top: 0.938vw;
    background-size: cover;
}
.box_cart_otsp {
    padding-left: 1.615vw;
    padding-right: 1.563vw;
    display: flex;
    flex-direction: column;
}
.num_cart{
    font-size: 0.781vw;
    font-family: "Adobe Clean Regular";
    color: rgb(116, 116, 116);
    /* margin-bottom: 10px; */
    margin-bottom: 0.052vw;
    margin-top: 0.521vw;
}
.last_cart_info{
    /* margin-top: 34px;
    display: flex;
    flex-direction: column;
    width: 115px; */
    margin-top: 0.469vw;
    display: flex;
    flex-direction: column;
    width: 7.292vw;
}
.last_card {
    padding-top: 3.073vw;
    padding-left: 1.615vw;
    padding-right: 1.563vw;
}
.btn-profile {
    border-radius: 0.208vw;
    background-color: rgb(255, 198, 23);
    width: 10.156vw;
    height: 2.656vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.396vw;
    font-size: 1.094vw;
    font-family: "Adobe Clean Regular";
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.account_section {
    /* height: 52.083vw; */
}
/*MAP*/
.map-wrapper {
    position: relative;
    width: 100vw;
    height: 44vw;
}
.map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
canvas.mapboxgl-canvas {
    /* width: 100vw !important;
    height: 43vw !important;*/
} 
.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-drag-pan.mapboxgl-touch-zoom-rotate {
    width: 100vw;
    height: 42.7vw;
}
.mapboxgl-control-container {
    z-index: 1;
    position: absolute;
}
/* .map-wrapper {
    position: relative;
    width: 1920px;
    height: 1080px;
} */

.taxi_box {
    position: absolute;
    top: 25px;
    left: 20px;
    max-width: 30%;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.taxi_pad {
    padding: 2.292vw 3.125vw;
}
.start_taxi {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 0.833vw;
}
.MuiTypography-h4{
    font-size: 1.771vw!important;
}
.MuiTypography-body1{
    font-size: 0.833vw!important;
}
.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}
.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}
.jss405 {
    margin-bottom: 30px !important;
}
.MuiTypography-alignLeft {
    text-align: left;
}
.MuiTypography-h4 {
    font-size: 2.125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.00735em;
}
.MuiTypography-root {
    margin: 0;
}
.jss406 {
    margin-bottom: 22px !important;
}
.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.button_taxi {
    width: 100%;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    background-color: #ffc617;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_taxi:hover {
    background: #d0a215;
}
.search_adress {
    height: 1.875vw;
    display: flex;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.search_adress_input{
    border: none;
    width: 89%;
    outline:none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.938vw;
    padding-right: 0.417vw;
    cursor: pointer;
}
.text_span_tax {
    left: 0.104vw;
    bottom: 0.313vw;
    position: absolute;
    font-size: 0.833vw;
}
.bottom_arrow {
    background: url(../img/down-arrow.svg) no-repeat;
    width: 0.729vw;
    height: 0.729vw;
    background-size: cover;
}
.box_for_button {
    width: 9%;
    height: 56%;
    border-left: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otsp_40px {
    width: 100%;
    height: 2.083vw;
}
.box_btn_taxxxi {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}
.btn_taxi_yellow {
    background-color: #ffc617;
    cursor: pointer;
    font-size: 0.833vw!important;
}
.btn_taxi_grey {
    background-color: #929292;
}
.slk_ll {
    height: 73% !important;
}
.drop_down_spisok {
    position: absolute;
    width: 79%;
    max-height: 31%;
    overflow: auto;
    background: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    top: 85px;
}
.drop_down_spisok ul{
    margin-left: 0;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.drop_down_spisok ul li {
    list-style-type: none;
    cursor: pointer;
}
.drop_down_spisok ul li:hover {
    background: #e5e5e591;
}
.style_spisok_2 {   
    top: 57%;
}
.btn_taxi_yellow:hover {
    background: #d0a215;
}
.del_value {
    background: url(../img/close.svg) no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 11px;
    cursor: pointer;
}
.heigh_taxi_oder {
    height: 42px !important;
}
.box_login {
    width: 100%;
    height: 71%;
}
.box_for_reg {
    width: 100%;
    height: 71%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}